// Contact
.contact-container {
  margin-top: $xxl-size;
  margin-bottom: $giant-size;
  text-align: center;
}

.contact-div {
  margin: $l-size 0; 
}

// Networking Sites
.networks-div {
  display: inline-block;
  max-width: 350px;
  width: 100%;
}

.business, .personal {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: $l-size;
}

.social-icon {
  font-size: $l-size;
}

.fa-envelope {
  font-size: $l-size;
}

.fa-linkedin:hover {
  background: radial-gradient(circle at 50%, #fff, #fff 60%, #000 63%, #000 63%);
  border-radius: 100%;
  color: #0077B5;
  transition: .3s;
}

.fa-github:hover {
  background: #211F1F;
  border-radius: 100%;
  color: #fff;
  transition: .3s;
}

.fa-twitter:hover {
  color: #38A1F3;
  transition: .3s;
}

.fa-instagram {
  border-radius: 20px;
  margin-right: 4px;
  &:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 20%;
    color: #fff;
    transition: .3s;
    cursor: pointer;
  }
}

.fa-facebook-f {
  margin-right: 4px;
  &:hover {
    color: #3b5998;
    transition: .3s;
    cursor: pointer;
  }
}

.margin:hover {
  color: $off-white;
  cursor: default;
}

.cv {
  margin-bottom: 5%;
}

// Send a Message
input {
  background: $deep-black;
  border: 0px;
  border-bottom: 1px solid grey;
  color: $off-white;
}

textarea {
  background: $deep-black;
  border: 1px solid grey;
  color: $off-white;
}

// Media Queries
@media (max-width: 530px) {
  .contact-container {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .fas, .fab {
    font-size: 2rem;
  }
}

@media (max-width: 250px) {
  .contact-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 230px) {
  .gmail {
    display: block;
  }
  .or {
    margin: 6% 0;
  }
}

@media (max-width: 155px) {
  .email {
    font-size: 1.3rem;
  }
}