// Footer
.footer-div {
  background: black;
  font-size: $s-size;
  padding: 2rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  cursor: default;
}

.heart:hover {
  color: $red;
  transition: .3s;
}

.twitter-link:hover {
  color: #38A1F3;
  transition: .3s;
}