// Intro
.intro {
  display: flex;
  justify-content: space-evenly;
  margin: $giant-size $xl-size $giant-size;
}

.me {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.welcome-titles {
  margin-top: $xl-size;
}

// Skills
.skills {
  height: auto;
  width: auto;
  margin-bottom: $giant-size;
}

.front-end {
  display: inline-block;
  height: 145px;
  width: 143px;
  padding-bottom: $xxs-size;
}

.back-end {
  display: inline-block;
  height: 145px;
  width: 143px;
  padding-bottom: $xxs-size;
}

.other-skills {
  display: inline;
  padding-bottom: $xxs-size;
}

.oli {
  margin: auto;
  width: 12%;
}

li {
  text-align: left;
  padding-left: 30px;
}

// Media Queries
@media (max-width: 1792px) {
  .oli {
    margin:auto;
    width: 14%;
  }
}

@media (max-width: 1560px) {
  .oli {
    margin:auto;
    width: 16%;
  }
}

@media (max-width: 1390px) {
  .oli {
    margin:auto;
    width: 18%;
  }
}

@media (max-width: 1230px) {
  .oli {
    margin:auto;
    width: 20%;
  }
}

@media (max-width: 1140px) {
  .oli {
    margin:auto;
    width: 22%;
  }
}

@media (max-width: 1000px) {
  .oli {
    margin:auto;
    width: 25%;
  }
}

@media (max-width: 900px) {
  .oli {
    margin:auto;
    width: 28%;
  }
}

@media (max-width: 840px) {
  .oli {
    margin:auto;
    width: 30%;
  }
}

@media (max-width: 715px) {
  .oli {
    margin:auto;
    width: 35%;
  }
}

@media (max-width: 625px) {
  .oli {
    margin:auto;
    width: 40%;
  }
}

@media (max-width: 560px) {
  .oli {
    margin:auto;
    width: 45%;
  }
}

@media (max-width: 530px) {
  .intro {
    display: block;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .skills {
    margin-bottom: 75px
  }
}

@media (max-width: 300px) {
  .me {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 250px) {
  .me {
    height: 125px;
    width: 125px;
  }
  .intro {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .skills {
    margin-bottom: 40px
  }
}

@media (max-width: 220px) {
  .intro {
    margin-left: $m-size;
    margin-right: $m-size;
  }
  .me {
    height: 100px;
    width: 100px;
  }
  .welcome {
    font-size: $l-font;
  }
}