// Intro
.intro {
  display: flex;
  justify-content: space-evenly;
  margin: $giant-size $xl-size $giant-size;
}

.me {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.welcome-titles {
  margin-top: $xl-size;
}

// Skills
.skills {
  height: auto;
  width: auto;
  margin-bottom: $giant-size;
}

.front-end {
  display: inline-block;
  height: 145px;
  width: 143px;
  padding-bottom: $xxs-size;
}

.back-end {
  display: inline-block;
  height: 145px;
  width: 143px;
  padding-bottom: $xxs-size;
}

li {
  text-align: left;
  padding-left: 30px;
}

// Media Queries
@media (max-width: 530px) {
  .intro {
    display: block;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .skills {
    margin-bottom: 75px
  }
}

@media (max-width: 300px) {
  .me {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 250px) {
  .me {
    height: 125px;
    width: 125px;
  }
  .intro {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .skills {
    margin-bottom: 40px
  }
}

@media (max-width: 220px) {
  .intro {
    margin-left: $m-size;
    margin-right: $m-size;
  }
  .me {
    height: 100px;
    width: 100px;
  }
  .welcome {
    font-size: $l-font;
  }
}