//Colors
$deep-black: #000000; //background
$soft-black: #181a1b; //extra
$dark-grey: #333333; //extra
$off-white: #c0c0c0; //text
$blue: #00aced; //links
$red: #ff007f; //link-hover

//Font-Size
$s-font: 1rem; //small-font
$m-font: 1.4rem; //medium-font
$l-font: 1.8rem; //large-font

//Spacing
$xxs-size: .5rem;
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 11rem;
$giant-size: 14rem;
$desktop-breakpoint: 45rem;